.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.link {
  flex-direction: column;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .link {
    width: 100%;
  }
}

.dashboard-card {
  // margin: 40px/;
  // max-width: 800px;
  min-width: 100px;
  button {
    width: 100%;
  }
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
