<mat-toolbar color="primary">
  <span>SH</span>
  <ng-content></ng-content>
  <span class="spacer"></span>
  <button routerLink="/press" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>tv</mat-icon>
  </button>
  <button routerLink="/dashboard" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>notes</mat-icon>
  </button>


  <button routerLink="/editor/add" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>note_add</mat-icon>
  </button>
  <button routerLink="/links" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>link</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button routerLink="/user" mat-menu-item>
      <mat-icon>face</mat-icon>
      <span>Profile</span>
    </button>
    <button (click)="logout()" mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
