<mat-toolbar color="primary">
  <span>TR</span>
  <span class="spacer"></span>
  <button routerLink="/dashboard" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>home</mat-icon>
  </button>
  <button routerLink="/user" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>face</mat-icon>
  </button>
  <button routerLink="/editor/add" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>add</mat-icon>
  </button>
  <button (click)="logout()" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<div class="container">

  <mat-card class="entry-card note" *ngFor="let message of messages" >
    <mat-card-title>{{message.title}}</mat-card-title>
    <span [innerHTML]="message.summary"></span>
    <mat-card-actions align="end">
      <button mat-button [routerLink]="'/text/'+ message.tid ">View</button>
      <button mat-button [routerLink]="'/editor/'+ message.tid ">Edit</button>
    </mat-card-actions>
  </mat-card>
</div>
