.dashboard-card {
  max-width: 60%;
  min-height: 60%;
  .form-layout {
    width: 100%;
    max-width: 100%;
  }
  button {
    width: 100%;
  }
  margin: 10px auto;
  .form-field {
    width: 100%;
  }
}


@media only screen and (max-width: 600px) {
  .dashboard-card {
    max-width: 100%;
    min-height: 100%;
    .form-layout {
      width: 100%;
      max-width: 100%;
    }
    button {
      width: 100%;
    }
    margin: 10px;
    .form-field {
      width: 100%;
    }
  }
  
}