<app-header>
  <button mat-flat-button (click)="increase()">+</button>&nbsp;
  <button mat-flat-button (click)="decrease()">-</button>&nbsp;
  <button mat-flat-button (click)="reset()">reset</button>&nbsp;
  <span>font-size: {{fontSize}}%</span>
</app-header>
<mat-card class="dashboard-card">

  <div [style.fontSize]="fontSize + '%'" [style.lineHeight]="fontSize/100">
    <span [innerHTML]="data?.title"></span><br>
    <span [innerHTML]="data?.summary"></span><br>
    <span [innerHTML]="data?.text"></span>
  </div>

</mat-card>
