<mat-toolbar color="primary">
  <span>D</span>
  <span class="spacer"></span>
  <button routerLink="/dashboard" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>home</mat-icon>
  </button>
  <button routerLink="/add-text" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>add</mat-icon>
  </button>
  <button (click)="logout()" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-card class="dashboard-card">
  <form class="form-layout" [formGroup]="form" (ngSubmit)="sendFormData(form)">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Message</mat-label>
      <textarea cdkTextareaAutosize class="textarea" formControlName="message" matInput></textarea>
    </mat-form-field>
    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Send</button>
    </div>
  </form>
</mat-card>